/**
 * @name GranySmith
 * @author Oily
 * @authorLink https://github.com/OILYY/GranySmith#author
 * @version 1.0
 * @invite Y36CTWeCFE
 * @source https://github.com/OILYY/GranySmith
*/

/*
OilyGranySmith
*/

/* oily theme entry point */
@import url('https://OILYY.github.io/GranySmith/GranySmith.css');

/* removable addons */
@import url("https://OILYY.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Microsoft.css");
@import url('https://OILYY.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css');
@import url('https://OILYY.github.io/Discolored/main.css');
@import url("https://OILYY.github.io/GranySmith/Addons/IconPackEdited.css");
@import url("https://OILYY.github.io/GranySmith/Addons/AvatarOnlyMemberList.css");
@import url("https://OILYY.github.io/GranySmith/Addons/FolderRedesign.css");
@import url("https://OILYY.github.io/RadialStatus/dist/RadialStatus.css");
@import url("https://OILYY.github.io/GranySmith/Addons/FriendGrid.css");

/*additional addons*/ /*(remove the both * to use)*/
/*@import url("https://OILYY.github.io/GranySmith/Addons/SimpleLessLag.css");*/


/*Oily Roots*/
:root {
    /*background image*/ /*(replace the link to use)*/
    --background-image: var(--wallpaper);
    --bg-opacity: 100%;
    /*bg dev suggestions*/
    --wallpaper: url("https://i.imgur.com/7dJpT2Q.jpg");
    /*modern background selection*/
    --modern-dark-bg: url("https://OILYY.github.io/GranySmith/Wallpapers/modern-dark-bg.png");
    --modern-light-bg: url("https://OILYY.github.io/GranySmith/Wallpapers/modern-light-bg.png");
}


/*window*/ /*dark mode*/
:root.theme-dark {
    --window-margin: 20px; /*must be above 20px*/
    --window-colour: #0009;
    --window-blur: 5px;
    --window-border-radius: 10px;
    --sidebar-colour: rgb(36, 36, 36);
}

/*window*/ /*light mode*/
:root.theme-light {
    --window-margin: 20px; /*must be above 20px*/
    --window-colour: rgba(255, 255, 255, 0.6);
    --window-blur: 5px;
    --window-border-radius: 10px;
    --sidebar-colour: rgb(209, 209, 209);
}


/*roots*/ /*both dark and light*/
:root {
    --user-name: "Oily";
    --edited-message: " EDITED ✎ ";
    --font-name: Poppins;
    --font-size: 13px;
    --group-chat-font: "Monoton"; /* change this to change the group chat's default font */


    /*glow radial status*/ /*must end in px*/
    --rs-small-spacing: 0px;
    --rs-large-spacing: 0px;
    --rs-medium-spacing: 0px;
    --rs-small-width: 2.5px;
    --rs-medium-width: 3.5px;
    --rs-large-width: 4.5px;
    --rs-avatar-shape: 50%;
    --rs-online-color: #1df594;
    --rs-idle-color: #faa61a;
    --rs-dnd-color: #f04747;
    --rs-offline-color: #636b75;
    --rs-streaming-color: #643da7;
    --rs-invisible-color: #636b75;
    --rs-phone-visible: block; /* change it to `none` to disable mobile icon */
    --rs-phone-color: var(--rs-online-color);

    /* For accent color to take full effect must need to change both */
    /* oily colours rgb */
    --accentcolor: 214, 191, 91;
    /* oily colours hex */
    --accentcolorV2: #d6bf5b;


    /* settings modal root */
    --themelightsettingsmodalbackground: rgb(223, 223, 223);
    --themedarksettingsmodalbackground: rgb(51, 49, 53);
    --settingsmodalwidth: 960px;
    --settingsmodalheight: 80vh;

    /* avatar only member list */
    --memberlist-border-radius: 25px; /* can be in `px`, `rem`, `em` */

    /* placeholder texts/values */
    /* input fields */
    --oily-input-field: "What is on your mind today OilyGranySmith?";
    /* input fields  when the channel is locked*/
    --oily-input-field-locked: "Sorry Oily, This Channel is Locked. (っ- ‸ - ς)";
    /* typing indicator: when a single person is typing */
    --oily-input-typing-indicator-one-person: "is smashing some buttons";
    /* typing indicator: when more than one person is typing */
    --oily-input-typing-indicator-many-person: "are smashing some buttons";

    /* scroller (by default transparent) */
    --oily-scroller-color: transparent; /* change `transparent` to some other hex color to make it visible */
}

/*discord transparency*//*roots*/ /*theme dark*/
.theme-dark {
    --background-message-hover: rgba(255, 255, 255, 0.055);
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #9d9d9d;
    --channels-default: #8e9297;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: transparent;
    --background-secondary: transparent;
    --background-tertiary: transparent;
    --background-accent: rgb(36, 36, 36);
    --activity-card-background: transparent;
    --deprecated-panel-background: transparent;
}

/*discord transparency*//*roots*/ /*theme light*/
.theme-light {
    --background-message-hover: rgba(255, 255, 255, 0.055);
    --header-primary: rgb(0, 0, 0);
    --header-secondary: #3f3f3f;
    --text-normal: #303030;
    --text-muted: #333333;
    --channels-default: #585b5e;
    --interactive-normal: #3a3a3a;
    --interactive-hover: #333333;
    --interactive-active: rgb(0, 0, 0);
    --interactive-muted: #4f545c;
    --background-primary: transparent;
    --background-secondary: transparent;
    --background-tertiary: transparent;
    --background-accent: rgb(27, 27, 27);
    --activity-card-background: transparent;
    --deprecated-panel-background: transparent;
}

/*!*friends grid banner colour*!*/
/*.theme-dark {*/
/*    --FG-cards-banner-background: transparent !important;*/
/*}*/

/*.theme-light {*/
/*    --FG-cards-banner-background: transparent !important;*/
/*}*/


/*Permissions*/
/*
-You do not have the rights to use our theme name OilyGranySmith™ on other projects 
-You do not have the rights to change this theme author name to anyone
*/
